uhub-sapi/src/main/mule/get-covid-cases-by-nationalid.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="aa7267c7-3256-4215-97f0-04c305501666" basePath="covid" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="get-covid-cases-by-nationalidFlow" doc:id="1bdb8fd2-e038-46e7-af8f-ee2838d18cf2" >
		<http:listener doc:name="Listener" doc:id="b62e89d1-0206-48c3-9270-097b0d0fbc77" config-ref="HTTP_Listener_config" path="v1/cases/{nationalID}/{tech}" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="beaaca8a-5998-48d7-b0dc-d845dc12735c" message="#[attributes.uriParams.nationalID]"/>
	</flow>
</mule>
