mule-event-demo/src/main/mule/read-json-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7e39a17a-98ce-4e7f-99b9-2880d29e330e" basePath="mule-message-structure-demo" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="read-json-demoFlow" doc:id="e9194e18-06b5-4fbb-9e12-2f6776e61e1a" >
		<http:listener doc:name="Listener" doc:id="6fd5fba9-0ec1-4d09-b86c-fc75e8dae74c" config-ref="HTTP_Listener_config" path="read-json" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="20122f21-8db4-479c-8851-9ed32dd34754" message="#[payload.employeeID]"/>
	</flow>
</mule>
